.lookbook-section {
    width: 100%;
    padding: 60px 40px;
    box-sizing: border-box;
    padding: 0;
    height: fit-content;
  }

  .lookbook-content {
    display: flex;
    align-items: start;
    gap: 80px;
    height: 100%;
  }

  .lookbook-section.right .lookbook-content {
    flex-direction: row-reverse;
  }

  .lookbook-media {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .lookbook-image-wrapper {
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }

  .lookbook-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .shop-the-look-btn {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0;
    background: none;
    border: none;
    font-size: 14px;
    text-transform: lowercase;
    cursor: pointer;
    text-decoration: underline;
    color: #000;
  }


  .lookbook-text {
    width: 35%;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    text-align: center;
    align-self: center;
  }

  @media (max-width: 768px) {
    .lookbook-content {
      flex-direction: column;
      gap: 32px;
    }

    .lookbook-section {
    height: auto;}

    .lookbook-media,
    .lookbook-text {
      width: 100%;
    }

    .lookbook-text {
      padding: 0 20px 50px 20px;
    }
  }

  .modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .modal-content {
    background: #fff;
    width: 90vw;
    padding: 15px;
    max-width: 1200px;
    height: 90vh;
    display: flex;
    border-radius: 0;
    overflow: hidden;

    position: relative;
  }

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  .close-button-icon {
    height: 20px;
  }

  @media screen and (min-width: 768px) {
    .close-button {
      display: none;
    }
  }

  .look-image {
    width: 50%;
    height: 100%;
    flex-shrink: 0;
  }

  .look-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    object-position: top;
  }

  .product-list {
    width: 50%;
    padding: 0 20px;
    overflow-y: auto;
    box-sizing: border-box;
  }

  .product-list::-webkit-scrollbar {
    width: 4px;
  }

  .product-list::-webkit-scrollbar-track {
    background: transparent;
  }

  .product-list::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
  }

  .product-list::-webkit-scrollbar-thumb:hover {
    background-color: #666;
  }

  .product-item {
    display: flex;
    align-items: stretch;
    gap: 16px;
    padding: 16px 0;
  }

  .product-item:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }

  .product-image {
    width: 35%;
    aspect-ratio: 3/4;
    height: auto;
    object-fit: cover;
  }

  .product-details {
    flex: 1;

    display: flex;
    flex-direction: column;
  }

  .product-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .product-title {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
  }

  .product-details .product-description,
  .product-details .product-description p {
    font-size: 12px;
    margin-bottom: 0;
    color: black;
  }

  .product-price {
    font-size: 14px;
    color: #000;
    display: flex;
    flex-direction: column;
  }

  .product-price-value {
    line-height: 1;
    color: red;
  }

  .product-compare-price {
    line-height: 1;
    color: #000;
    text-decoration: line-through;
  }

  .product-actions {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
    margin-top: auto;
  }

  .variant-select {
    font-size: 13px;
    padding: 6px 8px;
    border: none;
    background: transparent;
  }

  .variant-select:focus {
    outline: none;
    box-shadow: none;
  }

  .one-size {
    font-size: 13px;
    color: #666;
  }

  .add-to-cart-btn {
    margin-left: auto;
    background: transparent;
    border: 1px solid #000;
    padding: 6px 14px;
    font-size: 13px;
    cursor: pointer;
    min-width: 60%;
    color: #000;
  }

  .add-to-cart-btn.disabled {
    opacity: 0.5;
  }

  .product-actions .add-to-cart-btn:not(.disabled):hover {
    background: #000;
    color: #fff;
  }

  .product-actions .one-size {
    line-height: 1.2;
    color: black;
  }

  @media (max-width: 768px) {
    .modal-content {
      flex-direction: column;
      height: 95vh;
      gap: 20px;
    }

    .look-image,
    .product-list {
      width: 100%;
    }

    .product-list {
      padding-left: 0;
      padding-right: 0;
    }

    .product-title {
      font-size: 14px;
    }

    .look-image {
      height: 45%;
    }

    .product-list {
      height: 55%;
      padding: 0 0 20px 0;
    }

    .add-to-cart-btn {
      font-size: 12px;
    }
  }

  @media (max-width: 480px) {
    .add-to-cart-btn {
      font-size: 10px;
    }

    .product-item {
      gap: 10px;
    }

    .product-actions {
      gap: 8px;
    }

    .product-price {
      font-size: 12px;
    }
  }